cat > .gitignore << 'EOF'
*.swp
dist/
build/
__pycache__/

# Environnements virtuels
venv/
.venv/
venv312/

# Cache Python
__pycache__/
*.pyc

# Fichiers temporaires
*.log
*.tmp

# Fichiers systèmes
.DS_Store
Thumbs.db
